{% extends 'base.html.twig' %}

{% block title %}Edit Fighter{% endblock %}

{% block body %}
    <h1>Edit Fighter</h1>

    {{ include('fighter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fighter_index') }}">back to list</a>

    {{ include('fighter/_delete_form.html.twig') }}
{% endblock %}
