{% extends 'base.html.twig' %}

{% block title %}New Fighter{% endblock %}

{% block body %}
    <h1>Create new Fighter</h1>

    {{ include('fighter/_form.html.twig') }}

    <a href="{{ path('fighter_index') }}">back to list</a>
{% endblock %}
